<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masai.TickTask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TickTask">
        <activity
            android:name=".Views.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".Views.NotificationMessage"
            android:exported="true" />
        <activity
            android:name=".Views.LoginScreen.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Views.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".Views.LoginScreen.LoginActivity"
            android:exported="true" />
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".notification.NotificationBroadcast" />
    </application>

</manifest>